[user]
	name = Shunsuke KITADA
	email = {{ .email | quote }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[color]
	ui = auto
[url "git@github.com:"]
	pushinsteadof = https://github.com/
[pager]
	branch = cat
	config = cat
[ghq]
	root = ~/.local/share
	root = ~/ghq
[commit]
	gpgsign = true
[gpg]
	format = ssh
[pull]
	rebase = true
[core]
	quotepath = false
[rebase]
	autoStash = true
[credential]
    helper = !gh auth git-credential
