{{- $installHermes := true -}}
{{- if and (hasKey . "hermes") (hasKey .hermes "install") -}}
{{-   $installHermes = get .hermes "install" -}}
{{- end -}}
{{- if $installHermes -}}
{{ include "../install/common/hermes.sh" }}
{{- end -}}
