{{- $installHermes := true -}}
{{- if hasKey . "hermes" -}}
{{-   if hasKey .hermes "install" -}}
{{-     $installHermes = get .hermes "install" -}}
{{-   end -}}
{{- end -}}
{{- if $installHermes -}}
{{ include "../install/common/hermes.sh" }}
{{- end -}}
