{{- if eq .chezmoi.os "darwin" }}
{{-   if eq .chezmoi.arch "arm64" }}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{-   else }}
pinentry-program /usr/local/bin/pinentry-mac
{{-   end }}
{{- end }}
# Cache passphrases for one day by default and at most one week.
default-cache-ttl 86400
max-cache-ttl 604800
