".emacs.d":
  type: "git-repo"
  url: "https://github.com/syl20bnr/spacemacs"
  refreshPeriod: "720h"

{{ $fontsPath := .chezmoi.os | replace "darwin" "Library/Fonts" | replace "linux" ".local/share/fonts" -}}
{{ $nerdFontsVersion := "v3.4.0" -}}
{{ $nerdFontsBaseURL := printf "https://github.com/ryanoasis/nerd-fonts/releases/download/%s" $nerdFontsVersion -}}
"{{ $fontsPath }}/RobotoMono":
  type: "archive"
  url: {{ printf "%s/RobotoMono.zip" $nerdFontsBaseURL | quote }}
  checksum:
    sha256: "84a4e9d0bc8b5f55c0476d82ab73f36315a16171a4d06bf5270fd604c7103c9f"
  refreshPeriod: "720h"

"{{ $fontsPath }}/Hack":
  type: "archive"
  url: {{ printf "%s/Hack.zip" $nerdFontsBaseURL | quote }}
  checksum:
    sha256: "8ca33a60c791392d872b80d26c42f2bfa914a480f9eb2d7516d9f84373c36897"
  refreshPeriod: "720h"
