".emacs.d":
  type: "git-repo"
  url: "https://github.com/syl20bnr/spacemacs"
  refreshPeriod: "720h"

{{ $fontsPath := .chezmoi.os | replace "darwin" "Library/Fonts" | replace "linux" ".local/share/fonts" -}}
{{ $offline := or (and (hasKey . "offline") .offline) (eq (env "CHEZMOI_OFFLINE") "1") -}}
{{ $nerdFontsVersion := "v3.4.0" -}}
{{ $nerdFontsBaseURL := printf "https://github.com/ryanoasis/nerd-fonts/releases/download/%s" $nerdFontsVersion -}}
"{{ $fontsPath }}/RobotoMono":
  type: "archive"
{{ if $offline }}  url: {{ printf "%s/RobotoMono.zip" $nerdFontsBaseURL | quote }}
{{ else }}  url: {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "RobotoMono.zip" | quote }}
{{ end }}  refreshPeriod: "720h"

"{{ $fontsPath }}/Hack":
  type: "archive"
{{ if $offline }}  url: {{ printf "%s/Hack.zip" $nerdFontsBaseURL | quote }}
{{ else }}  url: {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "Hack.zip" | quote }}
{{ end }}  refreshPeriod: "720h"
