{{ $fontsPath := .chezmoi.os | replace "darwin" "Library/Fonts" | replace "linux" ".local/share/fonts" -}}

"{{ $fontsPath }}/LINESeed":
  type: "archive"
  url: "https://seed.line.me/src/images/fonts/LINE_Seed_JP.zip"
  checksum:
    sha256: "75c0144cb1076ea1fe5c9bf081396333d40b6d4b66c5f812604eac2c087f4f48"
  refreshPeriod: "720h"
  stripComponents: 3
  include: ["**/LINESeedJP_*.otf"]
