{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.idLike "debian" -}}
{{     if eq .system "client" -}}
{{       include "../install/ubuntu/client/tailscale.sh" }}
{{     end -}}
{{   end -}}
{{ end -}}
